@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@model Vino.Core.CMS.Domain.Dto.System.UserDto
<div class="window-content">
    <form class="layui-form" id="inputForm" action="Save" method="post">
        @Html.HiddenFor(x => x.Id)
        <div class="layui-form-item">
            <label class="layui-form-label">账户</label>
            <div class="layui-input-inline">
                <input type="text" name="Account" value="@Model.Account" autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="Password" value="@Model.Password" autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="Name" value="@Model.Name" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="Mobile" value="@Model.Mobile" lay-verify="phone" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="IsEnable" @(Model.IsEnable? "checked" : "") lay-skin="switch" lay-text="正常|禁用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="Remarks" placeholder="" class="layui-textarea">@Model.Remarks</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit>保存</button>
                <button type="button" class="layui-btn layui-btn-warm acton-close">关闭</button>
            </div>
        </div>
    </form>
</div>