@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Vino.Core.CMS.Service.System.Dto.UserDto>
<div class="sub-page">
    <div class="layui-tab layui-tab-brief sub-page-tab" lay-filter="F_sub_tab">
        <ul class="layui-tab-title">
            <li class="layui-this" data-url="Index">用户列表</li>
            <li data-url="Edit">添加用户</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form">
                    <table class="layui-table">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="12%">
                            <col width="5%">
                            <col width="15%">
                            <col width="15%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>账户</th>
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>登陆时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Account</td>
                                <td>@user.Name</td>
                                <td>@user.Mobile</td>
                                <td>
                                    <input type="checkbox" @(user.IsEnable? "checked" : "") lay-skin="switch" lay-text="可用|冻结" disabled>
                                </td>
                                <td>@user.CreateTime</td>
                                <td>@user.LastLoginTime</td>
                                <td>
                                    <div class="layui-btn-group">
                                        <a href="Edit?id=@user.Id" class="layui-btn layui-btn-small">编辑</a>
                                        <button data-url="" class="layui-btn layui-btn-small">冻结</button>
                                        <button data-url="" class="layui-btn layui-btn-small">删除</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div id="pages"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['laypage', 'element'], function () {
            var $ = layui.jquery
                , layer = layui.layer
                , laypage = layui.laypage
                , element = layui.element();

            laypage({
                cont: 'pages'
                , pages: @ViewData["pages"]
                , groups: 5
                , curr: @ViewData["page"]
                , jump: function (obj, first) {
                    first || (window.location.href = "Index?page=" + obj.curr);
                }
            });
        });

        $(function () {

        });
    </script>
}
