@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Web.Backend.Models
@model PwdData
<div class="window-content">
    @using (Html.LayuiBeginForm<PwdData>("SavePassword"))
    {
        @Html.AntiForgeryToken()
        @Html.LayuiPasswordFor(x => x.CurrentPassword)
        @Html.LayuiPasswordFor(x => x.NewPassword)
        @Html.LayuiPasswordFor(x => x.ConfirmPassword)
        @Html.LayuiFormSubmitAndClose()
    }
</div>