@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Web.Backend.Models
@model PwdData
<div class="window-content">
    @using (Html.BeginForm<PwdData>("SavePassword"))
    {
        @Html.AntiForgeryToken()
        @Html.InputFor(x => x.CurrentPassword)
        @Html.InputFor(x => x.NewPassword)
        @Html.InputFor(x => x.ConfirmPassword)
        @Html.ActionsForSubmitAndClose()
    }
</div>