@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Web.Backend.Models
@model PwdData
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<PwdData>("SavePassword"))
    {
        <div class="layui-body">
            @Html.AntiForgeryToken()
            @Html.InputFor(x => x.CurrentPassword)
            @Html.InputFor(x => x.NewPassword)
            @Html.InputFor(x => x.ConfirmPassword)
        </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>