@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：菜单 新增&编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.System
@model MenuDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<MenuDto>("Save"))
    {
    <div class="layui-body">
        <div class="layui-form-item">
            <label class="layui-form-label">所属目录</label>
            <div id="CoverImage" class="layui-input-block">
                <label class="layui-form-label-show layui-breadcrumb">
                    <a href="javascript:;">根目录</a>
                    @if (ViewBag.Parents != null)
                    {
                        foreach (var dto in ViewBag.Parents)
                        {
                            <a href="javascript:;">@dto.Name</a>
                        }
                    }
                </label>
            </div>
        </div>
        @Html.InputFor(x => x.Id)
        @Html.InputFor(x => x.ParentId)
        @Html.InputFor(x => x.Name, x => x.AuthCode)
        @Html.InputFor(x => x.Url, x => x.Icon)
        @Html.InputFor(x => x.IsShow, x => x.OrderIndex)
    </div>
    <div class="layui-footer">
        @Html.ActionsForSubmitAndClose()
    </div>
    }
</div>
@section Scripts
{
<script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
</script>
}
