@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.UserCenter.UserDialogue.DetailModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Detail.cshtml
    // 功能描述：用户对话 详情页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-07-25 10:23
    //
    //----------------------------------------------------------------
}
@{
    Layout = "_WindowFormLayout";
}
@section Css
    {
    <style>
        .layim-chat-main {height:380px;overflow-x:hidden;overflow-y:auto;}
        .layim-chat-main ul li {position:relative;font-size:0;margin-bottom:10px;padding-left:0px;min-height:68px;}
        .layim-chat-main ul .layim-chat-mine {text-align:right;padding-left:0;padding-right:0px;}
        .layim-chat-mine .layim-chat-user {left:auto;right:3px;}
        .layim-chat-user {position:absolute;left:3px;}
        .layim-chat-text {position:relative;line-height:22px;margin-top:25px;padding:8px 15px;background-color:#e2e2e2;border-radius:3px;color:#333;word-break:break-all;max-width:462px\9;}
        .layim-chat-text,.layim-chat-user {display:inline-block;vertical-align:top;font-size:14px;}
        .layim-chat-mine .layim-chat-text {margin-left:0;text-align:left;background-color:#5FB878;color:#fff;}
        .layim-chat-user cite {position:absolute;left:0px;top:-2px;width:500px;line-height:24px;font-size:12px;white-space:nowrap;color:#999;text-align:left;font-style:normal;}
        .layim-chat-mine .layim-chat-user cite {left:auto;right:0px;text-align:right;}
        .layim-chat-user cite i {padding-left:15px;font-style:normal;}
        .layim-chat-mine .layim-chat-user cite i {padding-left:0;padding-right:15px;}
    </style>
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<DetailModel>(""))
    {
        <div class="layui-body" style="background-color: #f2f2f2;">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md5 layui-col-sm5">
                        <div class="layui-card">
                            <div class="layui-card-header">最近20条记录</div>
                            <div class="layui-card-body">
                                <div class="layim-chat-main">
                                    <ul id="dialog">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7 layui-col-sm7">
                        <div class="layui-card">
                            <div class="layui-card-header">快速回复</div>
                            <div class="layui-card-body">
                                <div>
                                    <textarea id="content" placeholder="请输入回复内容" class="layui-textarea"></textarea>
                                </div>
                                <div class="layui-form-item" style="margin-top:15px;">
                                    <div class="layui-input-block" style="text-align:right; padding-right:20px;">
                                        <action auth-code="" text="立即回复" css="layui-btn-default" type="button" action="js:doReply()" />
                                    </div>
                                </div>
                                @Html.InputFor(x => x.Dto.IsForbidden, new { lay_filter = "IsForbidden" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            @Html.ActionsForClose()
            @if (!Model.Dto.IsSolved)
            {
                <action type="button" auth-code="" text="已解决" css="layui-btn-default" action="js:doSolve()" />
            }
        </div>
    }
</div>
@section Scripts
    {
<script id="demo" type="text/html">
    {{# layui.each(d, function(index, item){ }}
    {{# if(item.IsAdmin){ }}
    <li class="layim-chat-mine">
        <div class="layim-chat-user">
            <cite><i>{{item.CreateTime}}</i><span class="layui-badge">{{item.User.NickName}}</span></cite>
        </div>
        <div class="layim-chat-text">{{item.Message}}</div>
    </li>
    {{# }else{ }}
    <li>
        <div class="layim-chat-user">
            <cite>{{item.User.NickName}}<i>{{item.CreateTime}}</i></cite>
        </div>
        <div class="layim-chat-text">{{item.Message}}</div>
    </li>
    {{# } }}
    {{# }); }}
</script>
<script>
    var laytpl;
    layui.use(['form','laytpl'], function () {
        var form = layui.form;
        laytpl = layui.laytpl;

        loadMessage();

        form.on('switch(IsForbidden)', function (data) {
            ku.ajax.post("Detail/Forbidden", { id: "@Model.Dto.Id", status: data.elem.checked }, function (d) {
                if (data.elem.checked) {
                    ku.page.msg.tip("禁言成功！");
                } else { 
                    ku.page.msg.tip("解除禁言成功！");
                }
            });
        });
    });

    function loadMessage() { 
        ku.ajax.get("Detail/MessageList", { id: "@Model.Dto.Id" }, function (d) {
            laytpl($("#demo").html()).render(d.data, function (html) {
                $("#dialog").html(html);
                $(".layim-chat-main").animate({ scrollTop: $("#dialog").height() });
            });
        });
    }

    function doReply() {
        var message = $("#content").val();
        if (!message) {
            ku.page.msg.tip("请输入回复内容！");
            return;
        }
        ku.ajax.post("Detail/Reply", { id: "@Model.Dto.Id", content: message }, function (d) {
            $("#content").val("");
            loadMessage();
        });
    }

    function doSolve() {
        ku.ajax.post("Detail/Solve", { id: "@Model.Dto.Id" }, function (d) {
            ku.page.msg.tip("操作成功！", function () { 
                closeWindow(true);
            });
        });
    }
</script>
}
