@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Ku.Core.CMS.Domain.Dto.WeChat
@model WxUserDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<WxUserDto>("#"))
    {
    <div class="layui-body">
        @Html.ShowFor(x => x.OpenId)
        @Html.ShowFor(x => x.UnionId)
        @Html.ShowFor(x => x.NickName)
        @Html.ShowFor(x => x.Remark)
        @Html.ShowFor(x => x.HeadImgUrl)
        @Html.ShowFor(x => x.Sex)
        <div class="layui-form-item">
            <label class="layui-form-label">地区</label>
            <div class="layui-input-block">
                <label class="layui-form-label-show">@Model.Country</label>
                <label class="layui-form-label-show">@Model.Province</label>
                <label class="layui-form-label-show">@Model.City</label>
            </div>
        </div>
        @Html.ShowFor(x => x.Language)
        @Html.ShowFor(x => x.IsSubscribe)
        @Html.ShowFor(x => x.SubscribeTime)
        @Html.ShowFor(x => x.CreateTime)
    </div>
        <div class="layui-footer">
            @Html.ActionsForClose()
        </div>
    }
</div>