@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Mall.Product.DetailModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Detail.cshtml
    // 功能描述：商品 详情页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-05-23 13:57
    //
    //----------------------------------------------------------------
}
@{
    Layout = "~/Pages/_WindowFormLayout.cshtml";
}
@using Ku.Core.CMS.Domain.Dto.Mall
@using Ku.Core.CMS.Domain.Enum.Mall
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<DetailModel>(""))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Dto.Id)
            @Html.ShowFor(x => x.Dto.Name, x => x.Dto.Title)
            @Html.ShowFor(x => x.Dto.Status)
            @Html.ShowFor(x => x.Dto.Intro)
            <div class="layui-form-item">
                <label class="layui-form-label">主图</label>
                <div id="ImageData" class="layui-input-block">
                </div>
            </div>
            @Html.ShowFor(x => x.Dto.OrderIndex)
            @Html.ShowFor(x => x.Dto.PriceRange, x => x.Dto.Stock)
            @Html.ShowFor(x => x.Dto.Sales, x => x.Dto.Visits)

            <div class="layui-form-item">
                <label class="layui-form-label">销售属性</label>
                <div class="layui-input-block">
                    <table id="ID_sku_table"></table>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">通用属性</label>
                <div class="layui-input-block">
                    <table id="ID_attrs_table" class="layui-table">
                        <colgroup>
                            <col width="50%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>属性名</th>
                                <th>属性值</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dto.Properties != null)
                            {
                                @foreach (var item in Model.Dto.Properties)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Value</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @Html.ShowFor(x => x.Dto.ContentType)

            @if (Model.Dto.ContentType == EmProductContentType.Text)
            {
                @Html.ShowFor(x => x.Dto.Content, "textarea")
            }
            @if (Model.Dto.ContentType == EmProductContentType.RichText)
            {
                <div class="layui-form-item">
                    <label class="layui-form-label">详情</label>
                    <div class="layui-input-block">
                        @Html.Raw(Model.Dto.Content)
                    </div>
                </div>
            }
            @if (Model.Dto.ContentType == EmProductContentType.Picture)
            {
                <div class="layui-form-item">
                    <label class="layui-form-label">详情图</label>
                    <div id="ID_content_3" class="layui-input-block">
                    </div>
                </div>
            }

            @Html.ShowFor(x => x.Dto.SnapshotCount, x => x.Dto.EffectiveTime)
        </div>
        <div class="layui-footer">
            @Html.HiddenFor(x => x.Dto.Content)
            @Html.ActionsForClose()
        </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/vino/vino.image.picker.js"></script>
    <script src="~/js/vino/vino.grid.js" asp-append-version="true"></script>
    <script src="~/js/vino/vino.grid.ext.js" asp-append-version="true"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;

            $("#ImageData").vinoImagePicker({
                max_count: 5,
                enable: false
            });

            $("#ImageData").vinoImagePicker("loadData", '@Html.Raw(Model.Dto.ImageData)');

            if ($("#ID_content_3").length) {
                $("#ID_content_3").vinoImagePicker({
                    max_count: 10,
                    enable: false
                });

                $("#ID_content_3").vinoImagePicker("loadData", $("input[name='Dto.Content']").val());
            }

            $("#ID_sku_table").vinoGrid({
                url: 'Detail/SkuList?ProductId=@Model.Dto.Id',
                page: false,
                checkbox: false,
                rownumber:false,
                cols: [[
                    { field: 'Title', title: '标题', width: 140 },
                    { field: 'Status', title: '状态', width: 70, align: 'center', templet: '<div>{{d.Status.Title}}</div>' },
                    { field: 'Price', title: '价格', width: 65, align: 'right' },
                    { field: 'Stock', title: '库存', width: 65, align: 'right' },
                    { field: 'Sales', title: '销量', width: 65, align: 'right' },
                    { field: 'OrderIndex', title: '排序', width: 65, align: 'center' },
                    {
                        title: '操作', fixed: 'right', width: 70, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "mall.product.detail", text: "详情", action: `window:/Mall/Product/Sku/Detail?id={{d.Id}}`, css: "layui-btn-primary" }
                        ])
                    }
                ]]
            });
        });
    </script>
}
