@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 vino 版权所有
    //
    // 文件名：Detail.cshtml
    // 功能描述：商品 详情页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-03-21 10:50
    //
    //----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Mall
@using Vino.Core.CMS.Domain.Enum.Mall
@model ProductDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<ProductDto>("#"))
    {
    <div class="layui-body">
        @Html.InputFor(x => x.Id)
        @Html.ShowFor(x => x.Name, x => x.Title)
        @Html.ShowFor(x => x.Status)
        @Html.ShowFor(x => x.Intro)
        <div class="layui-form-item">
            <label class="layui-form-label">主图</label>
            <div id="ImageData" class="layui-input-block">
            </div>
        </div>
        @Html.ShowFor(x => x.OrderIndex)
        @Html.ShowFor(x => x.PriceRange, x=>x.Stock)
        @Html.ShowFor(x => x.Sales, x => x.Visits)

        <div class="layui-form-item">
            <label class="layui-form-label">销售属性</label>
            <div class="layui-input-block">
                <table id="ID_sku_table"></table>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通用属性</label>
            <div class="layui-input-block">
                <table id="ID_attrs_table" class="layui-table">
                    <colgroup>
                        <col width="50%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>属性名</th>
                            <th>属性值</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Properties != null)
                        {
                    @foreach (var item in Model.Properties)
                            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Value</td>
                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @Html.ShowFor(x => x.ContentType)

        @if(Model.ContentType == EmProductContentType.Text)
        {
            @Html.ShowFor(x => x.Content, "textarea")
        }
        @if(Model.ContentType == EmProductContentType.RichText)
        {
            <div class="layui-form-item">
                <label class="layui-form-label">详情</label>
                <div class="layui-input-block">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        }
        @if(Model.ContentType == EmProductContentType.Picture)
        {
            <div class="layui-form-item">
                <label class="layui-form-label">详情图</label>
                <div id="ID_content_3" class="layui-input-block">
                </div>
            </div>
        }

        @Html.ShowFor(x => x.SnapshotCount, x => x.EffectiveTime)
    </div>
    <div class="layui-footer">
        @Html.HiddenFor(x=>x.Content)
        @Html.ActionsForClose()
    </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/vino/vino.image.picker.js"></script>
    <script src="~/js/vino/vino.grid.js" asp-append-version="true"></script>
    <script src="~/js/vino/vino.grid.ext.js" asp-append-version="true"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;

            $("#ImageData").vinoImagePicker({
                max_count: 5,
                enable: false
            });

            $("#ImageData").vinoImagePicker("loadData", '@Html.Raw(Model.ImageData)');

            if ($("#ID_content_3").length) { 
                $("#ID_content_3").vinoImagePicker({
                    max_count: 10,
                    enable: false
                });
                
                $("#ID_content_3").vinoImagePicker("loadData", $("input[name=Content]").val());
            }

            $("#ID_sku_table").vinoGrid({
                url: 'GetProductSkuList?ProductId=@Model.Id',
                page: false,
                checkbox: false,
                rownumber:false,
                cols: [[
                    { field: 'Title', title: '标题', width: 140 },
                    { field: 'Status', title: '状态', width: 70, align: 'center', templet: '<div>{{d.Status.Title}}</div>' },
                    { field: 'Price', title: '价格', width: 65, align: 'right' },
                    { field: 'Stock', title: '库存', width: 65, align: 'right' },
                    { field: 'Sales', title: '销量', width: 65, align: 'right' },
                    { field: 'OrderIndex', title: '排序', width: 65, align: 'center' },
                    {
                        title: '操作', fixed: 'right', width: 70, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "mall.product.detail", text: "详情", action: `window:/Mall/Product/SkuDetail?id={{d.Id}}`, css: "layui-btn-primary" }
                        ])
                    }
                ]]
            });
        });
    </script>
}
