@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：商品SKU 新增&编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-24 10:50
//
//----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Ku.Core.CMS.Domain.Dto.Mall
@model ProductSkuDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<ProductSkuDto>("SkuSave"))
    {
    <div class="layui-body">
        @Html.InputFor(x => x.Id)
        @Html.InputFor(x => x.ProductId)
        @Html.InputFor(x => x.Status)
        @Html.InputFor(x => x.Title)
        <div class="layui-form-item">
            <label class="layui-form-label">封面图</label>
            <div id="CoverImage" class="layui-input-block">
            </div>
        </div>
        @Html.InputFor(x => x.Price, x => x.MarketPrice)
        @Html.InputFor(x => x.Stock, x => x.Weight)
        @Html.InputFor(x => x.OrderIndex)

        @Html.InputFor(x => x.PointsGainRule, new { lay_filter = "PointsGainRule" })
        <div id="ID_div_Points" class="@(Model.PointsGainRule == Vino.Core.CMS.Domain.Enum.Mall.EmPointsGainRule.ProductSku?"":"layui-hide")">
            @Html.InputFor(x => x.GainPoints)
        </div>
    </div>
    <div class="layui-footer">
        @Html.HiddenFor(x => x.CreateTime)
        <input type="hidden" name="EditID" value="@ViewData["EditID"]" />
        @Html.ActionsForSubmitAndClose()
    </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/vino/vino.image.picker.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            $("#CoverImage").vinoImagePicker({
                field_data: "CoverImage",
                max_count: 1
            });
            $("#CoverImage").vinoImagePicker("loadData", '@Html.Raw(Model.CoverImage)');

            //监听事件
            form.on('radio(PointsGainRule)', function (data) {
                var key = $(data.elem).attr("key");
                if (key === "ProductSku") {
                    $("#ID_div_Points").removeClass("layui-hide");
                } else { 
                    $("#ID_div_Points").addClass("layui-hide");
                }
            });
        });
    </script>
    }
