@page
@model Ku.Core.CMS.Web.Backend.Pages.UserCenter.UserAddress.EditModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Edit.cshtml
    // 功能描述：收货地址 编辑页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-06-01 13:14
    //
    //----------------------------------------------------------------
}
@{
    Layout = "_WindowFormLayout";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<EditModel>(""))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Dto.Id)
            @if ("Add".Equals(ViewData["Mode"]))
            {
                <div class="layui-form-item" id="userBox">
                </div>
            }
            else
            {
                @Html.InputFor(x => x.Dto.UserId)
                @Html.ShowFor(x => x.Dto.User.Account, x => x.Dto.User.NickName)
            }
            @Html.InputFor(x => x.Dto.Consignee, x => x.Dto.Mobile)
            <div class="layui-form-item">
                <label class="layui-form-label">地区</label>
                <div id="ID_Area" class="layui-input-block">
                </div>
            </div>
            @Html.InputFor(x => x.Dto.Address)
            @Html.InputFor(x => x.Dto.Default)
        </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
    {
    <script>
        layui.use(['form', 'multiSelectBox', 'areaSelect'], function () {
            var form = layui.form;
            var multiSelectBox = layui.multiSelectBox;
            multiSelectBox({
                elem: "#userBox",
                label: "用户",
                winUrl: "/UserCenter/User/Selector",
                winTitle: "选择用户",
                name: "Dto.UserId",
                limit: 1
            });

            var areaSelect = layui.areaSelect;
            areaSelect({
                elem: "#ID_Area",
                hasStreet: true,
                codeField: "Dto.AreaCode",
                provinceField: "Dto.ProvinceCode",
                cityField: "Dto.CityCode",
                regionField: "Dto.RegionCode",
                streetField: "Dto.StreetCode",
                provinceNameField: "Dto.Province",
                cityNameField: "Dto.City",
                regionNameField: "Dto.Region",
                streetNameField: "Dto.Street",
                code: @(Model.Dto.AreaCode??"0")
            });
        });
    </script>
}
