@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.System
@model RoleDto
<div class="window-content">
    @using (Html.LayuiBeginForm<RoleDto>("Save"))
    {
        @Html.LayuiHiddenFor(x => x.Id)
        @Html.LayuiTextBoxFor(x => x.Name)
        @Html.LayuiTextBoxFor(x => x.NameEn)
        @Html.LayuiSwitchFor(x => x.IsEnable)
        @Html.LayuiTextAreaFor(x => x.Remarks)
        @Html.LayuiFormSubmitAndClose()
    }
</div>