@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.System
@model RoleDto
<div class="window-content">
    @using (Html.BeginForm<RoleDto>("Save"))
    {
        @Html.InputFor(x => x.Id)
        @Html.InputFor(x => x.Name)
        @Html.InputFor(x => x.NameEn)
        @Html.InputFor(x => x.IsEnable)
        @Html.InputFor(x => x.Remarks)
        @Html.ActionsForSubmitAndClose()
    }
</div>