@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Membership
@model MemberDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<MemberDto>("Save"))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Id)
            @Html.InputFor(x => x.Name)
            @Html.InputFor(x => x.Password)
            @Html.InputFor(x => x.Mobile)
            @Html.InputFor(x => x.Sex)
            @Html.InputFor(x => x.IsEnable)

            <div class="layui-form-item">
                <label class="layui-form-label">会员类型</label>
                <div class="layui-input-block">
                    <select name="MemberTypeId" lay-verify="required">
                        <option value="">请选择会员类型</option>
                        @foreach (MemberTypeDto memberType in ViewBag.MemberTypeList)
                        {
                            if (memberType.Id == Model.MemberTypeId)
                            {
                                <option value="@memberType.Id" selected="selected">@memberType.Name</option>
                            }
                            else
                            {
                                <option value="@memberType.Id">@memberType.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
