@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Mall.Product.Sku.EditModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 ku 版权所有
    //
    // 文件名：Edit.cshtml
    // 功能描述：商品SKU 新增&编辑页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-02-24 10:50
    //
    //----------------------------------------------------------------
}
@{
    Layout = "_WindowFormLayout";
}
@using Ku.Core.CMS.Domain.Dto.Mall
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<EditModel>(""))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Dto.Id)
            @Html.InputFor(x => x.Dto.ProductId)
            @Html.InputFor(x => x.Dto.Status)
            @Html.InputFor(x => x.Dto.Title)
            <div class="layui-form-item">
                <label class="layui-form-label">封面图</label>
                <div id="CoverImage" class="layui-input-block">
                </div>
            </div>
            @Html.InputFor(x => x.Dto.Price, x => x.Dto.MarketPrice)
            @Html.InputFor(x => x.Dto.Stock, x => x.Dto.Weight)
            @Html.InputFor(x => x.Dto.OrderIndex)

            @Html.InputFor(x => x.Dto.PointsGainRule, new { lay_filter = "PointsGainRule" })
            <div id="ID_div_Points" class="@(Model.Dto.PointsGainRule == Ku.Core.CMS.Domain.Enum.Mall.EmPointsGainRule.ProductSku?"":"layui-hide")">
                @Html.InputFor(x => x.Dto.GainPoints)
            </div>
        </div>
        <div class="layui-footer">
            @Html.HiddenFor(x => x.Dto.CreateTime)
            <input type="hidden" name="EditID" value="@ViewData["EditID"]" />
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/ku/ku.image.picker.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            $("#CoverImage").kuImagePicker({
                field_data: "Dto.CoverImage",
                max_count: 1
            });
            $("#CoverImage").kuImagePicker("loadData", '@Html.Raw(Model.Dto.CoverImage)');

            //监听事件
            form.on('radio(PointsGainRule)', function (data) {
                var key = $(data.elem).attr("key");
                if (key === "ProductSku") {
                    $("#ID_div_Points").removeClass("layui-hide");
                } else {
                    $("#ID_div_Points").addClass("layui-hide");
                }
            });
        });
    </script>
}

