@page
@model Ku.Core.CMS.Web.Backend.Pages.UserCenter.User.DetailModel
@{
//----------------------------------------------------------------
// Copyright (C) 2018 kulend 版权所有
//
// 文件名：Detail.cshtml
// 功能描述：用户 详情页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-05-16 10:45
//
//----------------------------------------------------------------
}
@{
    Layout = "_WindowFormLayout";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<DetailModel>(""))
    {
    <div class="layui-body">
        @Html.ShowFor(x => x.Dto.Account, x => x.Dto.Password)
        @Html.ShowFor(x => x.Dto.NickName, x => x.Dto.RealName)
        @Html.ShowFor(x => x.Dto.Mobile, x => x.Dto.Email)
        @Html.ShowFor(x => x.Dto.Sex, x => x.Dto.IsEnable)
        @Html.ShowFor(x => x.Dto.CreateTime)
        @Html.ShowFor(x => x.Dto.Remarks)
        @Html.ShowFor(x => x.Dto.IsAdmin)
    </div>
    <div class="layui-footer">
        @Html.ActionsForClose()
    </div>
    }
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
    </script>
}
