@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.System
@model UserDto
<div class="window-content">
    @using (Html.LayuiBeginForm<UserDto>("Save"))
    {
        @Html.LayuiHiddenFor(x => x.Id)
        @Html.LayuiTextBoxFor(x => x.Account)
        @Html.LayuiPasswordFor(x => x.Password)
        @Html.LayuiTextBoxFor(x => x.Name)
        @Html.LayuiTextBoxFor(x => x.Mobile)
        @Html.LayuiSwitchFor(x => x.IsEnable)
        @Html.LayuiTextAreaFor(x => x.Remarks)

        <div class="layui-form-item">
            <label class="layui-form-label">用户角色</label>
            <div class="layui-input-block">
                @{
                    List<RoleDto> userRoles = ViewBag.UserRoles;
                }
                @foreach (RoleDto role in ViewBag.Roles)
                {
                    <input type="checkbox" name="UserRoles" value="@role.Id" title="@role.Name" lay-skin="primary" @(role.IsEnable ? "" : "disabled") @(userRoles.Any(x=>x.Id == role.Id)?"checked":"") />
                }
            </div>
        </div>

        @Html.LayuiFormSubmitAndClose()
    }
</div>