@page
@model Ku.Core.CMS.Web.Backend.Pages.Mall.Brand.EditModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Edit.cshtml
    // 功能描述：品牌 编辑页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-06-26 11:09
    //
    //----------------------------------------------------------------
}
@{
    Layout = "_WindowFormLayout";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<EditModel>(""))
    {
    <div class="layui-body">
        @Html.InputFor(x => x.Dto.Id)
        @Html.InputFor(x => x.Dto.Name, x => x.Dto.IsEnable)
        <div class="layui-form-item">
            <label class="layui-form-label">LOGO</label>
            <div id="logo" class="layui-input-block">
            </div>
        </div>
        @Html.InputFor(x => x.Dto.Intro)
        <div class="layui-form-item">
            <label class="layui-form-label">关联类目</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <colgroup><col ><col width="70"></colgroup>
                    <tbody>
                        @foreach (var cat in Model.Dto.Categorys)
                        {
                            <tr>
                                <td>
                                    <div class="category" data-id="@cat.Id"></div>
                                </td>
                                <td>
                                    <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" action="js:remove($this)"><i class="layui-icon layui-icon-close"></i></button>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2">
                                <button id="btn-add-category" type="button" class="layui-btn layui-btn-sm layui-btn-primary"><i class="layui-icon">&#xe608;</i>添加</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/ku/ku.image.picker.js"></script>
    <script>
        var multiSelect;
        layui.use(['form', 'multiSelect'], function () {
            var form = layui.form;
            multiSelect = layui.multiSelect;

            $("#logo").kuImagePicker({
                field_path: "Dto.Logo",
                max_count: 1
            });
            $("#logo").kuImagePicker("loadImage", '@Html.Raw(Model.Dto.Logo)');

            $("div.category").each(function () { 
                var id = $(this).attr("data-id");
                multiSelect({
                    url: '/Mall/Product/Category/Index/Json',
                    elem: $(this),
                    name: "CategoryIds",
                    value: id || ""
                });
            });

            $("#btn-add-category").on("click", function(){
                addItem();
            });

            if ($("div.category").length == 0) { 
                addItem();
            }
        });

        function addItem() { 
            let key = "category_" + new Date().getTime();
            $("#btn-add-category").closest("tr").before(`<tr><td><div class="category" id="${key}"></div></td><td><button type="button" class="layui-btn layui-btn-xs layui-btn-primary" action="js:remove($this)"><i class="layui-icon layui-icon-close"></i></button></td></tr>`);
            multiSelect({
                url: '/Mall/Product/Category/Index/Json',
                elem: "#" + key,
                name: "CategoryIds",
                value: ""
            });
        }

        function remove(that)
        {
            $(that).closest("tr").remove();
        }
    </script>
}
