@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：SkuDetail.cshtml
// 功能描述：商品SKU 详情页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-24 10:50
//
//----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Mall
@model ProductSkuDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<ProductSkuDto>("#"))
    {
    <div class="layui-body">
        @Html.ShowFor(x => x.Status)
        @Html.ShowFor(x => x.Title)
        <div class="layui-form-item">
            <label class="layui-form-label">封面图</label>
            <div id="CoverImage" class="layui-input-block">
            </div>
        </div>
        @Html.ShowFor(x => x.Price, x => x.MarketPrice)
        @Html.ShowFor(x => x.Stock, x => x.Weight)
        @Html.ShowFor(x => x.Sales)
        @Html.ShowFor(x => x.OrderIndex, x => x.CreateTime)
        @Html.ShowFor(x => x.PointsGainRule)
        <div id="ID_div_Points" class="@(Model.PointsGainRule == Vino.Core.CMS.Domain.Enum.Mall.EmPointsGainRule.ProductSku?"":"layui-hide")">
            @Html.ShowFor(x => x.GainPoints)
        </div>
    </div>
    <div class="layui-footer">
        @Html.ActionsForClose()
    </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/vino/vino.image.picker.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            $("#CoverImage").vinoImagePicker({
                max_count: 1,
                enable:false
            });
            $("#CoverImage").vinoImagePicker("loadData", '@Html.Raw(Model.CoverImage)');
        });
    </script>
}
