@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：公众号 新增&编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.WeChat
@model WxAccountDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<WxAccountDto>("Save"))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Id)
            @Html.InputFor(x => x.Type)
            @Html.InputFor(x => x.Name)
            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div id="image" class="layui-input-block">
                </div>
            </div>
            @Html.InputFor(x => x.OriginalId)
            @Html.InputFor(x => x.WeixinId)
            @Html.InputFor(x => x.AppId)
            @Html.InputFor(x => x.AppSecret)
            @Html.InputFor(x => x.Token)
        </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/vino/vino.image.picker.js"></script>
    <script>
        $("#image").vinoImagePicker({
            field_path: "Image",
            max_count: 1
        });
        $("#image").vinoImagePicker("loadImage", '@Html.Raw(Model.Image)');
    </script>
}