@page
@model Ku.Core.CMS.Web.Backend.Pages.WeChat.WxUserTag.EditModel
@{
//----------------------------------------------------------------
// Copyright (C) 2018 kulend 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：微信用户标签 编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-05-25 15:53
//
//----------------------------------------------------------------
}
@{
    Layout = "_WindowFormLayout";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<EditModel>(""))
    {
    <div class="layui-body">
        @Html.InputFor(x => x.Dto.Id)
        @Html.InputFor(x => x.Dto.AccountId)
        <div class="layui-form-item">
            <label class="layui-form-label">所属公众号</label>
            <div class="layui-input-block">
                <label class="layui-form-label-show">@Model.Dto.Account.Name</label>
            </div>
        </div>
        @Html.InputFor(x => x.Dto.Name)
    </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
    </script>
}
