@page
@model Ku.Core.CMS.Web.Backend.Pages.DataCenter.App.EditModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Detail.cshtml
    // 功能描述：应用 编辑页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-05-18 16:38
    //
    //----------------------------------------------------------------
}
@{
    Layout = "~/Pages/_WindowFormLayout.cshtml";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<EditModel>(""))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Dto.Id)
            @Html.InputFor(x => x.Dto.Type, x => x.Dto.Name)
            @Html.InputFor(x => x.Dto.Intro)
            <div class="layui-form-item">
                <label class="layui-form-label">图标</label>
                <div id="icon" class="layui-input-block">
                </div>
            </div>
            @Html.InputFor(x => x.Dto.DownloadUrl)
        </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
    {
    <script src="~/js/vino/vino.image.picker.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;

            $("#icon").vinoImagePicker({
                field_data: "IconData",
                max_count: 1
            });

            $("#icon").vinoImagePicker("loadData", '@Html.Raw(Model.Dto.IconData)');
        });
    </script>
}
