@model List<Ku.Core.CMS.Domain.Dto.System.MenuDto>
@foreach (var menu in Model)
{
<li class="layui-nav-item">
    @if (menu.SubMenus.Any())
    {
        <a href="javascript:;" data-tag="@menu.Tag"  lay-tips="@menu.Name" lay-direction="2">
            <i class="fa @menu.Icon"></i>
            <cite>@menu.Name</cite>
        </a>
        <dl class="layui-nav-child">
            @foreach (var sub in menu.SubMenus.OrderBy(x => x.OrderIndex))
            {
                if (sub.SubMenus.Any())
                {
                    <dd class="layui-nav-item">
                        <a href="javascript:;" data-tag="@sub.Tag" lay-tips="@sub.Name" lay-direction="3">@sub.Name</a>
                        <dl class="layui-nav-child">
                            @foreach (var ssub in sub.SubMenus.OrderBy(x => x.OrderIndex))
                            {
                            <dd class="layui-nav-item">
                                <a href="javascript:;" data-tag="@ssub.Tag" data-url="@ssub.Url" data-id="@ssub.Id">@ssub.Name</a>
                            </dd>
                            }
                        </dl>
                    </dd>
                }
                else
                {
                    <dd class="layui-nav-item">
                        <a href="javascript:;" data-tag="@sub.Tag"  data-url="@sub.Url" data-id="@sub.Id">@sub.Name</a>
                    </dd>
                }
            }
        </dl>
    }
    else
    {
        <a href="javascript:;" data-tag="@menu.Tag" data-url="@menu.Url" data-id="@menu.Id" lay-tips="@menu.Name">
            <i class="fa @menu.Icon"></i><cite>@menu.Name</cite>
        </a>
    }
</li>
}