@model List<Vino.Core.CMS.Domain.Dto.System.MenuDto>
@foreach (var menu in Model)
{
<li class="layui-nav-item layui-nav-itemed">
    @if (menu.SubMenus.Any())
    {
        <a href="javascript:;" lay-tips="@menu.Name" lay-direction="2">
            <i class="fa @menu.Icon"></i>
            <cite>@menu.Name</cite>
        </a>
        <dl class="layui-nav-child">
            @foreach (var sub in menu.SubMenus.OrderBy(x => x.OrderIndex))
            {
                if (sub.SubMenus.Any())
                {
                    <dd class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="@sub.Name" lay-direction="3">@sub.Name<span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            @foreach (var ssub in sub.SubMenus.OrderBy(x => x.OrderIndex))
                            {
                                <dd data-url="@ssub.Url" data-id="@ssub.Id">
                                    <a href="javascript:;">@ssub.Name</a>
                                </dd>
                            }
                        </dl>
                    </dd>
                }
                else
                {
                     <dd data-url="@sub.Url" data-id="@sub.Id">
                         <a href="javascript:;">@sub.Name</a>
                     </dd>
                }
            }
        </dl>
    }
    else
    {
        <a href="javascript:;" data-url="@menu.Url" data-id="@menu.Id" lay-tips="@menu.Name">
            <i class="fa @menu.Icon"></i><cite>@menu.Name</cite>
        </a>
    }
</li>
}